form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    background-color: aquamarine;
    border: 1px sold black;
    border-radius: 5px;
    padding: 30px;
    margin: 15px;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: none;
}
label{
    font-weight: bold;
    font-size: large;
}
#my-url{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    padding: 15px;
    margin-top: 25x;    
}