body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.scroll-top{
  position: fixed;
  right: 5px;
  bottom: 15px;
  padding: 15px;
  border-radius:5px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  border: 1px solid #000;
  color: #fff;
  transition: all 0.5s ease 0s;  
}
.scroll-top:hover{
  background-color: #1C1F23;
  border: 1px solid #000;
  color:#fff;
}
#body-color{
   background-color:#fafafa;
}
::selection {
  color: #fff;
  background: #000;
}
#home-link,#about-link,#project-link,#contact-link{
 display: inline-block;  
 padding: 10px 5px;
 margin: 0px 5px; 
 border-radius: 1px;
}
#home-link:hover,#about-link:hover,#project-link:hover,#contact-link:hover{
  display: inline-block;
  background-color: #FAFAFA;  
  border-radius: 1px;
  color: #000 !important; 
}
#github-btn:hover,#facebook-btn:hover,#insta-btn:hover{
    background-color: #1C1F23;
    border: 1px solid #fff;
    color: #fff;
    border: none;
}
 #footer-html:hover,#footer-css:hover,#footer-js:hover,#footer-bs:hover,#footer-nodejs:hover,#footer-react:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;   
}
 #about-txt{
   text-align: justify;  
}
 #about-img-round{
   border-radius: 20px;
}
 #p1,#p2,#p3,#p4{
   background-color: #317DAF;
}
 #p1:hover,#p2:hover,#p3:hover,#p4:hover{
   transform: scale(1.01);
   transition-duration: 0.3s; 
}
 #p1-btn:hover,#p2-btn:hover,#p3-btn:hover,#p4-btn:hover{
   background-color: #1C1F23;
   color: #fff;
   border: none;
}
 #submit-btn:hover{
   background-color: #1C1F23;
   color: #fff;
   border: none;
}
 .progress-container {
  width: 100%;
  height: 15px;
  background: #ccc;
  position: fixed;
  margin-top: 6px;
}
#myBar {
  height: 15px;  
  background-color: #24252a;
  width: 0%;
  margin-bottom: 10px;  
}